{# templates/default/home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            {% for annonce in annonces %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        <!-- Utilisation de card-img-top pour l'image -->
                        <img class="card-img-top" src="{{ annonce.image }}" alt="{{ annonce.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ annonce.title }}</h5>
                            <p class="card-text">{{ annonce.description|slice(0, 100) ~ '...' }}</p>
                            <div class="card-footer bg-white text-center">
                                <a href="{{ path('annonce_details', {'id': annonce.id}) }}" class="btn btn-primary">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
